/* We Are Section */
.we-are-title1 {
	font-family: "DM Sans", sans-serif;
	font-size: 5vw;
	height: 6vw;
	margin-top: 8vw;
}
.we-are-title2 {
	font-size: 5vw;
}

.gradient-title {
	background: rgb(242, 179, 43);
	background: linear-gradient(
		90deg,
		rgba(242, 179, 43, 1) 0%,
		rgba(244, 244, 244, 1) 100%
	);
	height: 2vw;
	width: 32vw;
	-webkit-text-fill-color: transparent;
	position: relative;
	top: 7vw;
	z-index: -1;
}
.counter-detail {
	font-size: 2vw;
}

.we-are-cube-right {
	position: absolute;
	width: 25vw;
	right: 0px;
	top: -5vw;
	z-index: -1;
}
/* End of We Are Section*/

/* End to end */
.end-to-end-title {
	font-size: 5vw;

}
.end-to-end-subtitle {
	font-size: clamp(1.0vw, 2vw, 1.5vw);
}

.end-to-end-gradient-title {
	background: rgb(242, 179, 43);
	background: linear-gradient(
		90deg,
		rgba(242, 179, 43, 1) 0%,
		rgba(244, 244, 244, 1) 100%
	);
	height: 2vw;
	width: 28vw;
	-webkit-text-fill-color: transparent;
	top: 5vw;
	z-index: -1;
}

.end-to-end-list{

}

.end-to-end-item{
	padding: 16px 24px 16px 24px;
	border-radius: 12px;
	gap: 16px;
}
.end-to-end-item.active{
	background-color: #F4F4F4;
}

.end-to-end-item-title{

}

.end-to-end-item-subtitle{

}
/* End of end to end */
