:root {
    --blue: #1D5B79;
    --danger: #EF6262;
    --purple: #7533F8;
    --tuscany: #FFBB29;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

.fs-14{
	font-size: 14px;
}

.fs-16{
	font-size: 16px;
}

.fs-18{
	font-size: 18px;
}

.fs-20{
	font-size: 20px;
}

.fs-22{
	font-size: 22px;
}

.fs-24{
	font-size: 24px;
}	

.fs-26{
	font-size: 26px;
}

.fs-28{
	font-size: 28px;
}

.fs-30{
	font-size: 30px;
}

.fs-32{
	font-size: 32px;
}

.fs-34{
	font-size: 34px;
}

.fs-36{
	font-size: 36px;
}

.fs-38{
	font-size: 38px;
}

.fs-40{
	font-size: 40px;
}

.fs-42{
	font-size: 42px;
}

.fs-44{
	font-size: 44px;
}

.fs-46{
	font-size: 46px;
}

.fs-48{
	font-size: 48px;
}

.fs-50{
	font-size: 50px;
}

.fs-52{
	font-size: 52px;
}

.fs-54{
	font-size: 54px;
}

.fs-56{
	font-size: 56px;
}

.fs-58{
	font-size: 58px;
}

.fs-60{
	font-size: 60px;
}

.fs-62{
	font-size: 62px;
}

.fs-64{
	font-size: 64px;
}

.fs-66{
	font-size: 66px;
}

.fs-68{
	font-size: 68px;
}

.fs-70{
	font-size: 70px;
}

.fs-72{
	font-size: 72px;
}

.fs-74{
	font-size: 74px;
}

.fs-76{
	font-size: 76px;
}

.fs-78{
	font-size: 78px;
}

.fs-80{
	font-size: 80px;
}

.fs-82{
	font-size: 82px;
}

/* Nav */
.navbar
{
	background-color: rgba(255,255,255,0.95);
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	box-shadow: none;
	z-index: 999;
}


.nav-link.active{
	color: var(--tuscany) !important;
}
/* End of Nav */


.fs-cormorant{
	font-family: 'Cormorant Garamond', serif;
}
.fs-dm-sans{
	font-family: 'DM Sans', sans-serif;
}

.f-yellow{
	color: var(--tuscany);
}
.f-bold{
	font-weight: bold;
}

