:root {
    --blue: #1D5B79;
    --danger: #EF6262;
    --purple: #7533F8;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

.error {
    color: var(--danger);
}

.btn-insert {
    background-color: var(--blue);
    color: white;
}

.btn-insert:hover {
    border: 1px solid var(--blue);
    color: var(--blue);
}

.btn-clear {
    background-color: var(--danger);
    color: white;
}

.btn-clear:hover {
    border: 1px solid var(--danger);
    color: var(--danger);
}

.title-purple {
    color: var(--purple);
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.half-circle-container {
    position: relative;
    background-color: #f0f0f0;
    /* Background color for the container */
    overflow: hidden;
    /* Hide any overflow from the child elements */
}

.half-circle-top {
    position: absolute;
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
    width: 104%;
    height: 193px;
    background-color: #003f67;
    border-radius: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.half-circle-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 104%;
    height: 193px;
    background-color: #003f67;
    border-radius: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.content {
    padding: 20px;
}